<%# javascript_include_tag 'redmine_custom_asignee', plugin: 'redmine_synchrony' %>
<fieldset>
  <legend><%= l(:label_task_statuses_and_groups) %></legend>

  <div id="groups-container">

    <% group_data_hash = Setting.plugin_redmine_custom_asignee['group_data'] || {} %>
    <% group_data_hash.each do |index, group| %>
      <div class="group" data-index="<%= index %>">
        <%= select_tag "settings[group_data][#{index}][issue_status_id][]", options_from_collection_for_select(IssueStatus.all, 'id', 'name', group['issue_status_id']), multiple: true, class: "multiple-select" %>
        <%= select_tag "settings[group_data][#{index}][group_id][]", options_from_collection_for_select(Group.all, 'id', 'name', group['group_id']), multiple: true, class: "multiple-select" %>

        <%= check_box_tag "settings[group_data][#{index}][exclude_all_except_this]", "1", group['exclude_all_except_this'].present? %>
        <%= button_tag "-", type: "button", class: "remove-group btn btn-danger" %><br>
      </div>
    <% end %>
  </div>

  <%= button_tag "+", type: "button", class: "add-group btn btn-success" %>
</fieldset>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("groups-container");
        const addGroupButton = document.querySelector(".add-group");
        const issueStatusOptions = '<%= j(options_from_collection_for_select(IssueStatus.all, 'id', 'name')) %>';
        const groupOptions = '<%= j(options_from_collection_for_select(Group.all, 'id', 'lastname')) %>';

        addGroupButton.addEventListener("click", function () {
            const index = new Date().getTime(); // Generate a unique timestamp as index
            const newGroup = document.createElement("div");
            newGroup.className = "group";
            newGroup.setAttribute("data-index", index);
            newGroup.innerHTML = `
<select name="settings[group_data][${index}][issue_status_id][]" multiple class="multiple-select">${issueStatusOptions}</select>
<select name="settings[group_data][${index}][group_id][]" multiple class="multiple-select">${groupOptions}</select>
<input type="checkbox" name="settings[group_data][${index}][exclude_all_except_this]">
<button type="button" class="remove-group btn btn-danger">-</button><br>
`;

            container.appendChild(newGroup);
            attachRemoveGroupListener(newGroup);
        });

        function attachRemoveGroupListener(element) {
            const removeButton = element.querySelector(".remove-group");
            removeButton.addEventListener("click", function () {
                container.removeChild(element);
            });
        }

        // Attach remove listeners to existing groups
        document.querySelectorAll(".group").forEach(attachRemoveGroupListener);
    });
</script>

<style>
    .multiple-select {
        height: 150px;   /* Высота, которую вы хотите установить */
        overflow-y: auto; /* Показывает вертикальную полосу прокрутки при необходимости */
    }

</style>
